@model Patient
@{
}
<h5> New Patient Info </h5>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create" id="createPatientForm">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<!--Registration No-->
			<div class="form-group">
				<label asp-for="RegistrationNo" class="control-label"></label>
				<input asp-for="RegistrationNo" class="form-control" />
				<span asp-validation-for="RegistrationNo" class="text-danger"></span>
			</div>
			<!--Patient Name-->
			<div class="form-group">
				<label asp-for="PatientName" class="control-label"></label>
				<input asp-for="PatientName" class="form-control" />
				<span asp-validation-for="PatientName" class="text-danger"></span>
			</div>
			<!-- DOB -->
			<div class="form-group">
				<label asp-for="DOB" class="control-label"></label>
				<input asp-for="DOB" class="form-control" />
				<span asp-validation-for="DOB" class="text-danger"></span>
			</div>
			<!-- Gender -->
			<div class="form-group">
				<label asp-for="Gender" class="control-label">Gender:</label>
				<div>
					<input type="radio" asp-for"Gender" name="Gender" value="Male" />
					Male
				</div>
				<div>
					<input type="radio" asp-for"Gender" name="Gender" value="FeMale" />
					FeMale
				</div>
				<span asp-validation-for="Gender" class="text-danger"></span>
			</div>
			<!-- Address -->
			<div class="form-group">
				<label asp-for="Address" class="control-label"></label>
				<input asp-for="Address" class="form-control" />
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>
			<!-- Phone No -->
			<div class="form-group">
				<label asp-for="PhoneNo" class="control-label"></label>
				<input asp-for="PhoneNo" class="form-control" />
				<span asp-validation-for="PhoneNo" class="text-danger"></span>
			</div>
		</form>
	</div>
</div>